.top-section{
  display: flex;
  align-items: flex-start;

  height: 100px;

  background-color: black;
}

#right-side-sign-up{

}

#right-side-login{

}
#login-title{

  color: white;
}

#login-text{

  color: white;
}

#login-btn{
  display: inline;
}


.side-bar{
  width: 300px;
  height: 100vw;

  background-color: rgb(27, 27, 29)
}